/AccessorRoleType.class
/Address.class
/AssociatedAccount.class
/AssociatedAccountNumberType.class
/BuildingPartCode.class
/CancelPickupReply.class
/CancelPickupRequest.class
/CarrierCodeType.class
/ChargeBasisLevelType.class
/ClientDetail.class
/CloseTimeType.class
/CodAddTransportationChargeBasisType.class
/CodAddTransportationChargesDetail.class
/CodCollectionType.class
/CodDetail.class
/CodReturnReferenceIndicatorType.class
/CompletedFreightPickupDetail.class
/CompletedFreightPickupLineItem.class
/Contact.class
/ContactAndAddress.class
/CountryRelationshipType.class
/CreatePickupReply.class
/CreatePickupRequest.class
/CustomDeliveryWindowDetail.class
/CustomDeliveryWindowType.class
/DateRange.class
/DayOfWeekType.class
/DeliveryOnInvoiceAcceptanceDetail.class
/DetentionDetail.class
/Dimensions.class
/Distance.class
/DistanceUnits.class
/EMailDetail.class
/EMailLabelDetail.class
/EMailRecipient.class
/EmailOptionType.class
/EmailOptionsRequested.class
/EtdConfirmationType.class
/EtdDetail.class
/ExpressFreightPickupDetail.class
/ExpressRegionCode.class
/ExtraLaborDetail.class
/FaxDetail.class
/FedExLocationType.class
/FlatbedTrailerDetail.class
/FlatbedTrailerOption.class
/FreightGuaranteeDetail.class
/FreightGuaranteeType.class
/FreightPickupDetail.class
/FreightPickupLineItem.class
/FreightServiceCenterDetail.class
/FreightServiceSchedulingType.class
/FreightShipmentRoleType.class
/HoldAtLocationDetail.class
/HomeDeliveryPremiumDetail.class
/HomeDeliveryPremiumType.class
/InternationalControlledExportDetail.class
/InternationalControlledExportType.class
/InternationalTrafficInArmsRegulationsDetail.class
/LinearUnits.class
/Localization.class
/MarkingOrTaggingDetail.class
/Money.class
/NonBusinessTimeDetail.class
/Notification.class
/NotificationDetail.class
/NotificationEventType.class
/NotificationFormatType.class
/NotificationParameter.class
/NotificationSeverityType.class
/NotificationType.class
/PackagingType.class
/PalletShrinkwrapDetail.class
/PalletsProvidedDetail.class
/Party.class
/Payment.class
/PaymentType.class
/Payor.class
/PendingShipmentDetail.class
/PendingShipmentProcessingOptionType.class
/PendingShipmentProcessingOptionsRequested.class
/PendingShipmentType.class
/PhysicalPackagingType.class
/PickupAvailabilityReply.class
/PickupAvailabilityRequest.class
/PickupBuildingLocationType.class
/PickupEventType.class
/PickupOriginDetail.class
/PickupPortType.class
/PickupRequestType.class
/PickupScheduleOption.class
/PickupService.class
/PickupServiceCategoryType.class
/PickupServiceLocator.class
/PickupServiceSoapBindingStub.class
/PickupShipmentAttributes.class
/PickupType.class
/RateLevelBasisType.class
/RateTypeBasisType.class
/RecommendedDocumentSpecification.class
/RecommendedDocumentType.class
/RequestedShippingDocumentType.class
/ReturnAssociationDetail.class
/ReturnEMailAllowedSpecialServiceType.class
/ReturnEMailDetail.class
/ReturnShipmentDetail.class
/ReturnType.class
/Rma.class
/ServiceType.class
/ShipmentAssemblyDetail.class
/ShipmentDryIceDetail.class
/ShipmentDryIceProcessingOptionType.class
/ShipmentDryIceProcessingOptionsRequested.class
/ShipmentEventNotificationDetail.class
/ShipmentEventNotificationSpecification.class
/ShipmentNotificationAggregationType.class
/ShipmentNotificationFormatSpecification.class
/ShipmentNotificationRoleType.class
/ShipmentSpecialServiceType.class
/ShipmentSpecialServicesRequested.class
/SmsDetail.class
/SortAndSegregateDetail.class
/SpecialEquipmentDetail.class
/SpecialEquipmentLineItem.class
/SpecialEquipmentType.class
/StorageDetail.class
/TaxpayerIdentification.class
/TinType.class
/TrackingId.class
/TrackingIdType.class
/TrailerSizeType.class
/TransactionDetail.class
/TruckType.class
/UploadDocumentDetail.class
/UploadDocumentIdProducer.class
/UploadDocumentProducerType.class
/UploadDocumentReferenceDetail.class
/UploadDocumentType.class
/VersionId.class
/WebAuthenticationCredential.class
/WebAuthenticationDetail.class
/WeighingDetail.class
/WeighingScaleType.class
/Weight.class
/WeightUnits.class
